@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  height: 100%;
}
body {
  @apply dark:text-[#cce7c9] dark:bg-gray-900 transition-colors duration-300 font-noto;
}
@theme {
  --font-noto: "Noto Serif", serif;
  --font-open: "Open Sans", sans-serif;
  --font-roboto-mono: "Roboto Mono", monospace;
  --font-work-sans: "Work Sans", sans-serif;
}
